.menu-main{
width: 1450px;
    height: 3700px;
    border: $border;
    background-image: url(/pages/Asosiy/img/Vector\ 14.png) ;
    // margin-top: 50px;
    background-size: cover;

    .starter{
       width: 1050px;
       height: 600px;
       border: $border;
       margin-top: 100px;
       display: flex;
       position: relative;
       .cloy4{
        position: absolute;
        top: 74%;
        left: 92%;
        width: 100px;
        height: 100px;
       }
       
       .starter-img{
        width: 40%;
        height: 100%;
        border: $border;
        display: flex;
        justify-content: center;
       align-items: center;

       .hover07 figure img {
        -webkit-filter: blur(3px);
        filter: blur(3px);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        width: 80%;
        height: 80%;
        margin-left: 10%;
    }
    .hover07 figure:hover img {
        -webkit-filter: blur(0);
        filter: blur(0);
    }
       }
       .starter-txt{
        width: 60%;
        height: 100%;
        border: $border;
        h3{
            color: white;
text-align: left;
font-family: $inter;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 77.1%; /* 30.84px */
// margin-left: -400px;
margin-top: 40px;

        }
        ul{
            width: 650px;
            height: 80%;
            border: $border;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            gap: 20px;
            li{
                width: 100%;
                height: 20%;
                border: $border;
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 10px;
                img{
                    border-radius: 50%;
                    position: absolute;
                    top: 15%;
                    left: 0%;
                    width: 70px;
                    height: 70px;
                }
                h2{
                    color: $yellow;
font-family: $vibes;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 77.1%; /* 23.13px */
margin-left: 12%;
margin-top: 5%;
                }
                p{
                    color: white;
font-family: $inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 126.5%; /* 25.3px */
margin-left: 12%;
                }
                .Border{
                    width: 213px;
// height: 3px;
color: $yellow;
border: dotted;
position: absolute;
top: 65%;
left: 50%;
                }
            }
            h4{
                color: #ffffff;
                position: absolute;
top: 60%;
left: 86%;
text-align: right;
font-family: $inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 77.1%; /* 23.13px */
            }
        }

       }

    }
}